.movie {
    width: 57%;
    margin: 10px auto;
    position: relative;
    top: 3em;
    border: 1px solid black;
    padding: 25px;
    border-radius: 5px;
    .back-ground {
        width: 100%;
        height: 23em;
    }
    .main-img {
        width: 25%;
        float: left;
        position: relative;
        top: -11em;
        left: 4em;
    }
    .title {
        font-weight: bold;
        font-size: 3em;
        margin: 0;
        text-align: center;
    }
    h3 {
        text-align: center;
    }
    .overview-rating{
        width: 76%;
        position: relative;
        left: 9em;
    }
    .rating {
        display: flex;
        justify-content: space-evenly;
    }
    p {
        font-size: 24px;
        margin: 5px;
        text-align: center;
    }
}