.movie {
    width: 65%;
    margin: 10px auto;
    position: relative;
    top: 3em;
    .back-ground {
        width: 85%;
    }
    .main-img {
        width: 25%;
        float: left;
        position: relative;
        top: -11em;
        left: 7em;
    }
    .title {
        font-weight: bold;
        font-size: 3em;
        margin: 0;
    }
    .overview-rating{
        width: 76%;
        position: relative;
        left: 9em;
    }
    .rating {
        display: flex;
        justify-content: space-evenly;
    }
}